.venv/
__pycache__/
*.py[cdo]
# db.sqlite3
local_settings.py
staticfiles/
media/icons/*
media/posts/*
!media/icons/1280463_s.jpg
!media/icons/2276028_s.jpg
!media/icons/22676899_s.jpg
!media/posts/3121864_s.jpg
!media/posts/22560087_s.jpg
!media/posts/22957190_s.jpg

.DS_Store
.env

# 仮想環境
.venv/

# Python が生成するキャッシュファイル
__pycache__/

# ローカル設定
local_settings.py

# 静的ファイル
staticfiles/

# データベース
db.sqlite3

# macOS 固有のファイル
.DS_Store

